
<section  style="background-color: #18917f;" *ngIf="cart">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p><span class="h2">Shopping Cart </span><span class="h4">({{ cart.books.length + cart.games.length + cart.products.length }} items in your cart)</span></p>

        <div class="card mb-4" *ngFor="let book of cart.books">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img [src]="book.image" class="img-fluid" alt="{{ book.name }}">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ book.name }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Description</p>
                  <p class="lead fw-normal mb-0">{{ book.description }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">{{ book.price }} RON</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <button (click)="removeBookFromCart(book.id)" class="btn btn-danger">Remove from Cart</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4" *ngFor="let game of cart.games">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img [src]="game.image" class="img-fluid" alt="{{ game.name }}">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ game.name }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Description</p>
                  <p class="lead fw-normal mb-0">{{ game.description }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">{{ game.price }} RON</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <button (click)="removeGameFromCart(game.id)" class="btn btn-danger">Remove from Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4" *ngFor="let product of cart.products">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img [src]="product.image" class="img-fluid" alt="{{ product.name }}">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ product.name }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Description</p>
                  <p class="lead fw-normal mb-0">{{ product.description }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">{{ product.price }} RON</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <button (click)="removeProductFromCart(product.id)" class="btn btn-danger">Remove from Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <p class="h4">Total: {{ calculateTotal() }} RON</p>
        </div>


        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light btn-lg me-2" [routerLink]="['/books']">Continue shopping</button>

        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="!cart">
  <p>Your cart is empty.</p>
</div>







